{% extends "base.html"%}
{%block title%}Liga{%endblock%}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-12">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title">Daftar Liga</h3>

            <div class="card-tools">
                <a href="#"><button type="button" class="btn btn-block btn-primary">Tambah Data Liga</button></a>
            </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Liga</th>
                    <th>Negara</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Liga Futsal Profesional</td>
                    <td>Indonesia</td>
                    <td>
                        <a class="btn btn-app bg-danger">
                            <i class="fas fa-trash"></i> Hapus
                        </a>
                        <a class="btn btn-app bg-success">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a class="btn btn-app bg-primary">
                            <i class="fas fa-inbox"></i> Detail
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}